*{
  box-sizing: border-box;
}

body{
  margin: auto;
  padding: 0;
  width: 80%;
  background-color: #23272f;
  color: #f6f7f9;
}

.background{
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.background--active{
  background-color: #a6b5ff;
}

.picture{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.picture--active{
  border: 5px solid #a6b5ff;
}

.grey-bg{
  padding: 1px 4px;
  background-color: #99a1b31a;
  border-radius: 6px;
  
  
}