*{
  box-sizing: border-box;
}

body{
  width: 60%;
  margin: auto;
  margin-bottom: 24px;
  color: #f6f7f9;
  background-color: #23272f;
}

a{
  color: #149eca;
  text-decoration-line: none;
}

/* #main */
#main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Text color: */
.blue{
  color: #77b7d7;
}

.sky-blue{
  color: #86d9ca;
}

.red{
  color: #c64640;
}

.brown{
  color: #db7d27;
}

.purple{
  color: #977cdc;
}

.grey{
  color: #757575;
}

/* Backgrounds */
.bg-grey{
  background-color: #99a1b31a;
  padding: 1px 4px;
  border-radius: 6px;
  line-height: 24px;
}

/* Cards: */
.card{
  border-radius: 10px;
  padding: 18px;
  /* padding-bottom: 16px; */
}

.dark-card{
  background-color: #16181d;
}

.grey-card{
  background-color: #343a46;
}

.brown-card{
  background-color: #b6570033;
}

.purple-card{
  background-color: #2b349133;
}

.grey-card>h3{
  padding: 0;
  margin: 0;
}

/* Expand button */
.button{
  color: #f6f7f9;
  background-color: #575FB7;
  margin: 0px 0px 20px 0px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid;
  font-size: 1.1em;
}

/* Indentations */
.simple-tab{
  padding-left: 16px;
}

/* Additional Content */
.details{
  border-top: solid 1px #2b3491;
}

footer{
  margin-top: 16px;
}


/* Css for avoidDeeplyNestedState.html */
/* For the 'Complete' buttons */
.travel-btn{
  margin-left: 4px;
  border-radius: 5px;
}

/* For li elements in the editable travel plan */
.place{
  margin-top: 8px;
}

/* Specific styles for: challenge */

.columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Class for choosing the state structure challenge-3.html */
.highlighted{
  background: #055ba7;
}