*{
    box-sizing: border-box;;
}

body{
    width: 60%;
    margin: auto;
    margin-bottom: 24px;
    color: #f6f7f9;
    background-color: #23272f;
}

a{
    color: #149eca;
    text-decoration: none;
}

/* Text Colors: */
.blue{
    color: #77b7d7;
}

.skyblue{
    color: #86d9ca;
}

.red{
    color: #c64640;
}

.purple{
    color: #848de5;
}

/* Backgrounds: */
.bg-dark{
    background-color: #16181d;
}

.bg-grey{
    background-color: #2f333c;
}

.bg-purple{
    background-color: #252943;
}

/* hr separator */
.purple-rule{
    border: 1px solid #282e6a;
}

/* Border */
.border-purple{
    border: 1px solid #363a52;
}

/* Unordered list */
ul{
    list-style-type: disc;
    margin: 12px 0px 12px 24px;
}