body{
  margin: 16px;
  color: #ffffff;
  background-color: #171c25e4;
  width: 80%;
  margin: auto;
}

.greyBackground{
  background-color: #99a1b31a;
  padding: 0 3px;
  border-radius: 3px;
}

.table{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.column1{
  display: flex;
  flex-direction: column;
}

.column2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

ul{
  margin-block-start: 0;
}