body{
    width: 80%;
    background-color: #23272F;
    color: #F6F7F9;
    margin: auto;
}

p{
    line-height: 1.6rem;
}

button{
    margin-left: 8px;
    margin-top: 6px;
    padding: 6px 12px;
    background-color: #e7dbdbd7;
    border-radius: 8px;
    border-width: 0;
    color: #3e2e2e;
    font-size: 14px;
    font-weight: 500;
}

ul{
    list-style: disc;
}

a{
    text-decoration: none;
}

a:visited{
    color: #F6F7F9;
}

footer{
    margin-top: 16px;
}

#main{
    padding: 16px;
}

.card{
    padding: 8px;
    border-radius: 15px;
}

/* Card backgrounds */

.dark{
    background-color: #16181D;
}

.grey{
    border: 1px solid #404651;
    background-color: #343A46;
}

.water{
    background-color: #25353A;
}

/* Text color: Start */
.blue{
    color: #75B4D4;
}

.turquoise{
    color: #7FCEC0;
}

.violet{
    color: #856EC2;
}

.red{
    color: #B1413C;
}

.green{
    color: #44AC99;
}

.orange{
    color: #B0894D;
}

/* Text colors: End */

/* Font weight: Start*/
.weight-900{
    font-weight: 900;
}

/* Font weight: End*/

.bg-grey{
    background-color: #3F4451;
    padding: 1px 4px;;
    border-radius: 6px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px
}

.flex-left{
    display: flex;
    align-items: center;
    width: 650px
}

/* Challenge 1 */

/* messenger */
.messenger{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    min-width: 30%;
}


/* contact-list */
.contact-list{
    display: flex;
    flex-direction: column;
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    button{
        margin: 0;
        width: 100%;
    }
}

/* chat */
.chat{
    display: flex;
    flex-direction: column;
    textarea{
        resize: none;
        width: 100%;
        height: 80px;
    }
}
