body{
  margin: 16px;
  color: #ffffff;
  background-color: #171c25e4;
}
.box{
  padding-left: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #16181d;
  color: whitesmoke;
}

.greyBackground{
  background-color: #99a1b31a;
  padding: 0 3px;
  border-radius: 3px;
}

.blue{
  color: #77b7d7;
}

.turquoise{
  color: #86d9ca;
}

.red{
  color: #c64640;
}

.purple{
  color: #977cdc;
}

.grey{
  color: #757575;
}

.tab{
  margin-left: 16px;
}

.doubleTab{
  margin-left: 32px;
}

