body{
  margin: 16px;
}
.box{
  padding-left: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #16181d;
  color: whitesmoke;
}

.greyBackground{
  background-color: grey;
}

.blue{
  color: #77b7d7;
}

.turquoise{
  color: #86d9ca;
}

.red{
  color: #c64640;
}

.purple{
  color: #710e71;
}

.grey{
  color: #757575;
}

.tab{
  margin-left: 16px;
}

.doubleTab{
  margin-left: 32px;
}

