/* This style sheet is meant to be for every html file in the 'managingState' folder */

.body{
  color: #f6f7f9;
  background-color: #23272f;
  width: 80%;
  margin: auto;
}

.grey-bg{
  padding: 1px 5px;
  background-color: #99a1b31a;
  border-radius: 6px;
}

.Error{
  color: #ff0000;
}

img{
  display: block;
  margin: auto;
  padding-bottom: 16px;
}

.note{
  background-color: #25353A;
  border-radius: 20px;
  padding: 2px 5px;
  
  h2, h3{
    margin-left: 20px;
  }

  h2{
    color: #41A291;
  }
}

a{
  text-decoration: none;
  color: #19799A;
}

.box{
  background-color: #16181D;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  p{
    padding-left: 24px;
  }
  .blue{
    color: #2cc2f4;
  }
  .turquoise{
    color:#40e0d0
  }
  .purple{
    color: #977cdc;
  }
  .red{ 
    color: #c64640;
  }
}