.challenge{
    display: flex;
    flex-direction: column;
    width: 170px;
}

.challenge-btn {
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    background-color: #e7dbdbd7;
    border-radius: 8px;
    border-width: 0;
    color: #3e2e2e;
    font-size: 14px;
    font-weight: 500;
}

.btn {
    margin-left: 8px;
    margin-top: 6px;
    padding: 6px 12px;
    background-color: #e7dbdbd7;
    border-radius: 8px;
    border-width: 0;
    color: #3e2e2e;
    font-size: 14px;
    font-weight: 500;
}

.bold{
    font-weight: 600;
}

.hint{
    background-color: #404a5b;
    width: 100%;
    height: 18.4px;
    text-align: center;
}

.flex{
    display: flex;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.padding-0{
    padding: 0;
}

img{
    width: 330px;
}

textarea{
    width: 100%;
    height: 52.6px;
    resize: none;
  }